boto
bz2file
cycler
decorator
gensim==3.4.0
isodate
matplotlib
networkx
nltk
numpy
pandas
pyparsing
python-dateutil
pytz
PyYAML
rdflib
requests
scikit-learn
scipy
six
sklearn
smart-open
joblib
pytest
